macros/trplots/trash/
macros/trplots/makedisplayplots/downloads/
macros/trplots/downloaded/
test/myworkingArea/
test/oldWorkingFiles
test/oldWorkingArea/
test/oldWorkSpace/
test/GJetWorkSpace/
test/GMSBWorkSpace/
test/oldworkingArea/
test/myFinishedArea/
test/myWorkingArea/
test/myWorkSpace/
test/compWorkingArea/
macros/*.obj
macros/hist_maker_egammares_diag.obj
macros/.nfs*
*_log*.txt
*.obj
*.root
*.pyc
*.log
*.png
*.pdf
__*
!macros/ecal_config
!macros/ecal_config/*.root
macros/back*
